@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";


body {
  font-family: Inter, sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* globals.css */

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* track background */
}

::-webkit-scrollbar-thumb {
  background: #22c55e; /* green thumb */
  border-radius: 9999px; /* fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a; /* darker green on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #f1f1f1;
}

Link:hover{
  color: #16a34a;
}
